[Desktop Entry]
Version=1.0
Name=YT-DLD
Comment=YouTube Video Downloader GUI
Exec=yt-dld-gui
Icon=yt-dld
Terminal=false
Type=Application
Categories=Network;Video;
Keywords=youtube;video;download;downloaders;
StartupNotify=true
